:root{
    --color-primary:#6c63ef;
    --color-success:#00befd;
    --color-warning:#fdec00;
    --color-danger:red;
    --color-danger-varient:#f44f08;
    --color-white:#fff;
    --color-light:rgba(255, 255, 255,0.7 );
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;

    --container-width-lg:76%;
    --container-width-md:90%;
    --container-width-sm:94%;

--transition: all 400ms ease;

}
.contact-container{
    background:var(--color-bg1);
    padding: 3rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
    padding-left: 2rem;
}

.contact-aside{
    background: var(--color-primary);
    padding-top: 1rem;
    border-radius: 1rem;
    position: relative;
    bottom: 6rem;
} 
.aside-image{
    width: 12rem;
    margin-bottom: 2rem;
}
.contact-aside h2{
    text-align: center;
    margin-bottom:1rem; 
}
.contact-aside h4{
    padding-left: 2rem;
}
.contact-aside p{
    font-size: 0.8rem;
    margin-bottom:2rem;
    padding-left: 1rem;
}
.contact-details li {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 0.3rem;
}
.contact-socials{
    display: flex;
    gap: 0.8rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
.contact-socials a{
    background:var(--color-bg1);
    padding: 0.5rem;
    border-radius: 0.7rem;
    font-size: 0.9rem;
    transition: var(--transition);
    
}

.contact-socials a:hover{
    background: var(--color-danger-varient);

}
/* contact form */
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right:4rem ;
}
.form-name{
    display: flex;
    gap: 1.2rem;
}
.contact-form input[type="text"]{
    width: 50%;
}
input,textarea{
    width: 100%;
    background: var(--color-bg2);
    padding: 1rem;
    color: var(--color-white);

}
.contact-form .btn{
    width: max-content;
    margin-top: 1rem ;
    cursor: pointer;
}
@media screen and (max-width:1024px) {
    .contact-container {
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }
    .contact-aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }
    .contact-form{
        align-self:center;
        margin-right: 1.5rem;
    }   
}
@media screen and (max-width:600px) {
    .contact-container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-right: 0;
        padding: 0;
    }
    .contact-form{
        margin: 0 1.5rem 3rem;
    }
    .form-name{
        flex-direction: column;
    }
    .form-name input[type="text"]{
        width: 100%;
    }
    
}